img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  cursor: pointer;
}

canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.loading {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
